/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/BIONICA.png');
}

.demo-2 .large-header {
	background-image: url('../img/BIONICA.png');
	background-position: center bottom;
}




